body{
    background-color: rgba(26, 100, 150, 0.91);
}

.borderlogin {
    border: 2px solid; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    max-width: 400px; 
    width: 100%; 
}

.borderchat {
    border: 2px solid; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    max-width: 800px; 
    width: 100%; 
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    flex-grow: 1;
    margin-right: 10px;
}

.custom-navbar {
    background-color: rgb(137, 193, 234);
}

.custom-footer {
    background-color: rgb(137, 193, 234);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(76, 160, 171); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(78, 98, 101, 0.949); 
  }

#label{
    font-size:84%;
    font-weight: bold;
    font-family: 'Courier New';
}